In [2]:
phonebook ={"harry":9887566488, "seam":7894561231, "thomas":98745632124}
print(phonebook)
name = input("Enter a name:")
if name in phonebook:
    num=int(input("Enter the number:"))
    phonebook[name]=num
    print("Success")
else:
    print("Name not found")

{'harry': 9887566488, 'seam': 7894561231, 'thomas': 98745632124}

Enter a name: harry
Enter the number: 9887566488

Success

In [1]:
phonebook ={"harry":9887566488, "seam":7894561231, "thomas":98745632124}
print(phonebook)
phonebook["Radhika"]=454634355
print(phonebook)
phonebook.update({"Amir":64455})
print(phonebook)

{'harry': 9887566488, 'seam': 7894561231, 'thomas': 98745632124}
{'harry': 9887566488, 'seam': 7894561231, 'thomas': 98745632124, 'Radhika': 454634355}
{'harry': 9887566488, 'seam': 7894561231, 'thomas': 98745632124, 'Radhika': 454634355, 'Amir': 64455}

In [3]:
phonebook ={"harry":9887566488, "seam":7894561231, "thomas":98745632124}
print(phonebook)
name= input("Enter a name:")
if name in phonebook:
    del phonebook[name]
    print("Deleted Successfully")
else:
    print(name, " was not found")

#del phonebook
phonebook.clear()
print(phonebook)

{'harry': 9887566488, 'seam': 7894561231, 'thomas': 98745632124}

Enter a name: Seam

Seam  was not found
{}

In [ ]:
len(dict)
str(dict)
type(variable)
dict.clear()
dict.keys()
dict.update(dict2)
dict.values()
important (**difference between clear and del**)